<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Obesity and Social Determinants</title>
    <meta name="description" content="Obesity and Social Determinants">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/scrollama.css" />

</head>

<body>
    <nav class="navbar navbar-dark navcolor">
            <a class="navbar-brand nameplate" href="/home/">
                <img src="../static/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Sassy Stingrays
            </a>
    </nav>


    <section id='intro'>
        <h1 class='intro__hed'>State of Obesity and Social Determinants</h1>
        <p class='intro__dek'>
            Welcome to our Data Science Boot Camp Project! 
        </p>
    </section>
    
    <section id='scroll'>
        <div class='scroll__graphic' style="background-image: url(../static/img/Providers.png); background-size: cover;">
            <p></p>
        </div>
        <div class='scroll__text'>
			<div class='step'>
				<p>There is growing interest within Health Care Providers to combine wide variety of big data to gain insights, improve accuracy of predictive models, and effectively address increasing health risks of populations they serve. </p>
				
				<p>This project aims to contribute to their efforts.</p>
            </div>
      

			<div class='step'>
				<p>The prevalence of Obesity has progressively increased globally. The Social Determinants of this pandemic are many.</p>
				<p>Social determinants of health are considered structural predictors of overall health of the population. They include conditions in which people are born, live, etc.  </p>
			</p>
			
            </div>


			<div class='step'>
				<p>Here we provide insights into current state of Obesity and Population in the United States.  </p>
				<p>We present the information alongside several Social Determinants of Health. </p>
				<p>Select combination of data from our interactive site and learn more!</p>
							
			</div>
			<div class='step'>

				<p>Data provided for the following Social Determinants:</p>
				
				<p>1) Economic Stability: Proverty and Income Level </p>

				<p>	2) Food: Locations of Fast Food Restaurants </p>
					
				<p>3) Neighborhood and Physical Environment: Locations of Fitness Centers</p>
				
            </div>
    
            <div class='step' data-step='4'></div>
        </div>
    </section>
    <section id='outro'></section>
    <div class='debug'></div>
    <script src='https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js'></script>
    <script src='../static/js/scrollama.min.js'></script>
    <script src='../static/js/scroll.js'></script>

	
</body>

</html>
